<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles/login.css">
</head>

<body>
    <header>
    <h1><a href="index.html">My Monster</a></h1>
    <nav>
      <ul>
        <li><a href="#">Sabores</a></li>
        <li><a href="#">Encontrar</a></li>
        <li><a href="#">Comunidade</a></li>
        <li><a href="sobre.html">Sobre</a></li>
        <li><a href="cadastro.html">Conta</a></li>
      </ul>
    </nav>
        <h1>Login</h1>
    </header>
    <main>
        <div class="login-container">
            <a href="index.html">Voltar para a página inicial</a>
            <form action="/login" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <br>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <br>
                <button type="submit">Login</button>
            </form>
            <p id="login-error" class="error-message"></p>
            <p>Não tem uma conta? <a href="cadastro.html">Cadastre-se</a></p>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Sua Empresa. Todos os direitos reservados.</p>
    </footer>
    <script src="../js/conta.js"></script>
    <!-- Início do Widget VLibras -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
</body>

</html>