<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre - My Monster</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <header>
        <h1>My Monster</h1>
        <nav>
            <ul>
                <li><a href="#">Sabores</a></li>
                <li><a href="#">Encontrar</a></li>
                <li><a href="#">Comunidade</a></li>
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="cadastro.html">Conta</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="sobre1">
            <h2>Sobre o My Monster</h2>
            <p>My Monster é uma plataforma dedicada a fornecer informações sobre os produtos Monster, incluindo sabores,
                lojas e a comunidade de fãs.</p>
        </section>
        <section class="sobre2">
            <h2>O porque esse site foi criado?</h2>
            <p>Eu (dev) criei esse site pois nao aguentava mais chegar em mercados e nao encontrar meu monster favorito.
                Por isso desenvolvi esse site no intuito de ajudar outras pessoas de se frustarem de nao encontrar seus
                monster favoritos. E de brinde, discutir qual sabor é melhor, o que todos nos sabemos que é o Branco!
            </p>
        </section>
        <section class="sobre3">
            <h2>Devs</h2>
            <p>Conheça os desenvolvedores por trás do My Monster: Começando pelo Fundador!EU!</p>
            <p>Sendo o Primeiro dev e dono do projeto, o incrivel...oh, espere um pouco, sou eu mesmo! Alessandro! <br>
                <a href="https://github.com/AlessandroDev-0">Meu GitHub</a>
            </p>
        </section>
    </main>

    <script src="js/script.js"></script>
    <!-- Início do Widget VLibras -->
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
</body>

</html>